@model ERS.Models.ESSInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ESSInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ESSCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ESSCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkingArea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkingArea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntryTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
