@model IEnumerable<ERS.Models.ESSInfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel">
    <div class="panel-heading">
        <form class="form-inline" asp-action="Search" method="post">
            <div class="form-group">
                <label>From Date</label>
                <input class="form-control" type="date" name="fromDate" />
            </div>
            <div class="form-group">
                <label>To Date</label>
                <input class="form-control" type="date" name="toDate" />
            </div>
            <button type="submit" class="btn btn-default">Search</button> 
            <a class="btn btn-primary" href="/ESSInfoes">Today</a> 
            <a class="btn btn-primary" href="/ESSInfoes/SeeAll">See All</a> 
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </form>
        
    </div>
    <div class="panel-body">
        <table id="essInfoTable" class="table table-bordered table-responsive" style="width: 100%;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ESSCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WorkingArea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EntryTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ESSCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkingArea)
                        </td>
                        <td>
                            @item.EntryTime.ToShortDateString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="ReportGet" asp-route-id="@item.ESSCode">Report</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $("#essInfoTable").DataTable();
    </script>
}
